@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "react-image-gallery/styles/css/image-gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}
